%article.o-grid__item
  .o-block.o-block--left.o-block--small
    .o-block__img
      .o-flag
        .o-flag__img= image_tag(post.developer.avatar.thumb.url, size: '50x50')
        .o-flag__body
          %p.u-margin-bottom-none= link_to post.developer_username, post.developer, class: 'u-copy-uppercase u-copy-bold'
          %p.u-copy-small.u-margin-bottom-none= link_to l(post.display_date, format: :short), post
    .o-block__body
      %section
        %h3.u-h1.u-copy-medium.u-margin-bottom= link_to post.title, post
      %footer
        %ul.o-pack
          %li.o-pack__item
            = render post.channels
